@import "tailwindcss";

:root {
  --logo-color: #41932B;
  --background: #f4f8ef;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(135deg,
      rgb(240, 253, 244),
      rgb(239, 246, 255),
      rgb(250, 245, 255)
    );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-brand-light {
  background-color: var(--background);
}

.bg-brand {
  background-color: var(--logo-color);
}

.text-brand {
  color: var(--logo-color);
}


.loader {
  height: 100px;
  aspect-ratio: 1;
  padding: 15px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
  filter: blur(12px);
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(#0000 0 5%, var(--logo-color), #0000 20% 50%);
  animation: l3 1.5s linear infinite;
}

@keyframes l3 {
  to {
    rotate: 1turn
  }
}

/* Custom animation classes */
@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up-animate {
  animation: fadeUpAnimation 0.6s ease-out;
}
